<!-- Modal LG -->
<div class="modal fade" id="staticBackdropLg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="staticBackdropBodyLg">
                ...
            </div>
            <div class="modal-footer">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="staticBackdropBody">
                ...
            </div>
            <div class="modal-footer">
                &nbsp;
            </div>
        </div>
    </div>
</div>

<!-- Loader modal -->
<div class="modal fade" id="modal_load">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center" id="modal_load_body">
                <div class="spinner-border text-info" role="status">
                    <span class="visually-hidden">Please Wait</span>
                </div>
            </div>
        </div>
    </div>
</div>